/*
* Title....: Template www.teresavaquero.com
* Author...: Esteban Vaquero C
* Contact..: esteban.xfce@gmail.com
* Date.....: 14-08-2016
*/


/* Table of contents
--------------------------------------------------
- Header
- Horizontal menu
- Social icons
- Content Text
*/


/* Header
-------------------------------------------------- */

.header {
    color: #545454;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.header .header-bg {
    width: 100%;
    height: 7.5em;
    background-image: url('../images/bg-header3.jpg');
    background-position: 50% 50%;
}

.header .header-avatar {
    position: relative;
    margin-top: -90px;
}

.header .header-heading {
    letter-spacing: 0.3em;
    font-weight: 400;
    font-size: 1.6em;
    margin-top: -0.5em;
}

.header .header-slogan {
    font-size: 1.2em;
}

.header .horizontal-menu {
    margin-top: 2em;
}


/* Horizontal menu
-------------------------------------------------- */

.horizontal-menu {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
}

.horizontal-menu .horizontal-menu-heading {
    line-height: 3em;
    display: block;
    background: #F3F3F3;
    padding: 1em;
}

.horizontal-menu .horizontal-menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.horizontal-menu .horizontal-menu-list .horizontal-menu-item {}

.horizontal-menu .horizontal-menu-list .horizontal-menu-item .horizontal-menu-link {
    display: block;
    padding: 1em;
}

.horizontal-menu .horizontal-menu-list .horizontal-menu-item .horizontal-menu-link:hover {
    background: #F3F3F3;
}


/* Social icons
-------------------------------------------------- */

.social-icons {
    font-size: 1.8em;
    margin-top: 0.5em;
}

.social-icons a {
    color: #B7B7B7;
}

.social-icons a:hover {
    color: #868686;
}


/* Content Text
-------------------------------------------------- */

.content-text {
    text-align: center;
}

.content-text p {
    text-align: justify;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

.content-text .content-text-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    color: #545454;
    border: 0.3em solid #545454;
    padding: 1em;
    display: inline-block;
    max-width: 100%;
}


/* Less than tablet */

@media only screen and (max-width: 700px) {}